*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    position: relative;
    top: 50%;
    left: 35%;
}


body {
    background-color: #23252C;
    font-family: 'Inter', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;      
        
    }


.business--card {
    /* Rectangle 91 */

box-sizing: border-box;

position: absolute;
width: 317px;
height: 399px;
left: 116px;
top: 361px;

background: #1A1B21;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.main--pic {
    /* Rectangle 90 */

box-sizing: border-box;

position: absolute;
width: 317px;
height: 317px;
left: 116px;
top: 44px;

background: url(.png);
border: 1px solid #000000;
border-radius: 10px 10px 0px 0px;

}

.h1--main {
    /* Otilia */


height: 40.81px;
padding-top: 2%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #FFFFFF;

}

.h3--main {
    /* Frontend Developer */


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12.8px;
line-height: 15px;
text-align: center;

color: #F3BF99;

}

.h5--main {
    /* laurasmith.website */


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
/* identical to box height, or 15px */
text-align: center;

color: #F5F5F5;

}

.h1--about {
    /* About */

position: absolute;
width: 242.71px;
height: 21px;
left: 152px;
top: 500px; 
/* aici am ramas, am setat top ca sa se puna cum trb */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* or 24px */

color: #F5F5F5;


}



.h3--about {
    /* /* I am a frontend developer  */

position: absolute;
width: 247px;
height: 61px;
left: 152px;
top: 530px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
/* or 15px */

color: #DCDCDC;


}

.h1--interests {
/* Interests */

position: absolute;
width: 242.71px;
height: 21px;
left: 152px;
top: 647px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* or 24px */

color: #F5F5F5;

}

.h3--interests {

position: absolute;
width: 247px;
height: 61px;
left: 152px;
top: 676px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
/* or 15px */

color: #DCDCDC;
}

.email--button {

/* Icon */

position: absolute;
left: 10%;
right: 10%;
top: 20%;
bottom: 20%;


}

.linkedin--button {
    /* Button */

/* Auto layout */



background: #5093E2;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;


position: absolute;
left: 50%;
right: 10%;
top: 20%;
bottom: 20%;



}

.background--footer {
    /* Social Icons Background */

position: absolute;
width: 317px;
height: 64px;
left: 116px;
top: 760px;

background: #161619;
border-radius: 0px 0px 10px 10px;

}

.github--icon {
    /* GitHub Icon */

position: absolute;
left: 47%;
right: 20.45%;
top: 30.8%;
bottom: 7.32%;

}